/*
 = ======== flexbox ========
*/
body {
  background: #363537;
  color: #FAFAFA;
  transition: all 0.25s linear;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card--order {
  flex: 0 0 700px;
  height: 700px;
}

/* .card.card--order > ul li {
  height: 20px;
  width: 90%;
  margin: 10px auto;
  text-align: center;
} */

.card--orderList {
  flex: 0 0 400px;
  height: 700px;
}



/*
= ====== visuals =========
*/





#line {
  background: #515558;
  border-radius:  7px 7px 7px 7px;
  height: 10px;
}

* {
 box-sizing: border-box;
}
body {
 margin: 0
}
.cards {
 min-height: 100vh;
}
.card {
 margin: 12px; 
 margin-top: 50px;
 background: #252729;
 border-radius: 7px;
 padding: 0 0 50px 0;
 border: 0;
}

/*
= ====== card inner components =========
*/
.card > header {
 background: #3b3e41;
 height: 50px;
 border-radius:  7px 7px 0 0;
}
.card > ul {
 list-style: none;
 padding: 0;
}
.card > ul li {
 height: 20px;
 width: 90%;
 margin: 10px auto;
}
/*
 = ======== end ========
*/


/*
 = ======== end ========
*/














@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: FAFAFA;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
